:root {

  /* DARK THEME */

  --primary: #E50914;

  --bg: #121212;
  --card: #1E1E1E;
  --border: #2A2A2A;

  --text: #FFFFFF;
  --text-secondary: #B3B3B3;

  --hover: #FF2C2C;

}

[data-theme="light"] {

  --primary: #E50914;

  --bg: #F5F5F5;
  --card: #FFFFFF;
  --border: #E5E5E5;

  --text: #111111;
  --text-secondary: #666666;

  --hover: #C40812;

}